

/* 이미지 파일의 크기에 관계없이 한 행의 크기를 고정하는 방향으로*/
.table img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto; /* 이미지를 가운데 정렬 */
}

/* 글 작성 버튼 스타일링 */
.write-button {
    display: inline-block; /* block에서 inline-block으로 변경하여 가로 정렬 */
	color: #fff;
    background-color: rgb(22, 22, 22); 
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* 위쪽 여백을 조정하여 테이블 아래에 위치하도록 함 */
    width: 150px; /* 버튼 너비 지정 */
}

.write-button:hover {
    background-color: rgb(0, 128, 255); /* 호버 시 배경색 변화 */
}

/* 페이지네이션 스타일링 */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none; /* 점 표시 없애기 */
    padding: 0; /* 리스트의 padding 제거 */
    margin-top: 40px; /* 위쪽 여백 추가 */
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 8px 12px;
    color: rgb(255, 255, 255); 
    background-color: rgb(22, 22, 22); /* 배경색 */
    border: 1px solid rgb(22, 22, 22);
    border-radius: 4px;
    text-decoration: none;
}

.pagination .page-link:hover {
    background-color: rgb(0, 128, 255); /* 호버 시 배경색 */
    color: rgb(22, 22, 22); /* 호버 시 텍스트 색상 */
}

.pagination .active .page-link {
    background-color: rgb(0, 128, 255); /* 활성화된 페이지 배경색 */
    color: #fff; /* 활성화된 페이지 텍스트 색상 */
    border-color: rgb(22, 22, 22);
    pointer-events: none;
}

.container.my-3 {
	background-color: rgb(248, 248, 248);
   	border-radius: 15px;
   
    height: auto;
	padding: 10px;
	text-align: center;
}
