/* 전체 body에 대한 스타일링 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

/* 테이블 스타일링 */
.board-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board-table th, .board-table td {
    padding: 10px;
    border: 1px solid #dddddd;
}

.board-table th {
    background-color: #f2f2f2;
    text-align: center;
}

/* 글 작성 버튼 스타일링 */
.write-button {
    display: block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto 0; /* 위쪽 여백을 조정하여 테이블 아래에 위치하도록 함 */
    width: 150px; /* 버튼 너비 지정 */
}