
.container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 200px;
    margin-top: 20px;
    background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDAxMDNfMTg5%2FMDAxNzA0MjY2OTUyNTkx.EddcBoGTRsV-G2Ot76Zas5OBiyEQMZwlx6Eg5isLDVEg.sdf7JgrHm985GYQp9NfKDEXQzfZLsCPReER1utK9Fg4g.GIF.lys4565%2F1696412096667.gif&type=l340_165');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}
.box {
    flex: 1;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.box p {
    margin: 10px 0;
}

.apistandard {
	font-size: 12px;
}

.title {
    font-weight: bold;
}
.value {
    font-weight: bold;
    font-size: 40px;
}
.emoji {
    margin-top: 10px;
}
.form-container {
    width: 40%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30px; /* 왼쪽 여백 추가 */
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
}
.form-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
h2 {
	margin-top: 50px;
	 margin-left: 30px; /* 왼쪽 여백 추가 */
	 clear: both;
	 text-align: left;
}