<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>  
   <meta charset="UTF-8">
   <title>게시글 조회</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
   <link rel="stylesheet" href="/boardRead.css">
   <script>
       function showEditForm(commentNum) {
           document.getElementById('edit-comment-form-' + commentNum).style.display = "block";
       }

       function hideEditForm(commentNum) {
           document.getElementById('edit-comment-form-' + commentNum).style.display = "none";
       }

       function goToBoardList() {
           window.location.href = '/board/list';
       }
   </script>
   <script>
       document.addEventListener("DOMContentLoaded", function() {
           const recommend_elements = document.getElementsByClassName("recommend");
           Array.from(recommend_elements).forEach(function(element) {
               element.addEventListener('click', function() {
                   if (confirm("정말로 추천하시겠습니까? (이미 추천을 했다면, 추천이 취소됩니다.)")) {
                       location.href = this.dataset.uri;
                   }
               });
           });
       });
   </script>
   <script>
       document.addEventListener('DOMContentLoaded', (event) => {
           const alertMessage =  'defaultMessage';
           if (alertMessage !== 'defaultMessage') {
               alert(alertMessage);
           }
       });
   </script>
</head>

<body>
   <div layout:fragment="content" class="container my-3">
   <div th:if="${alertMessage}" class="alert alert-danger" role="alert">
      <span th:text="${alertMessage}"></span>
   </div>
   
   <div class="board-details " >
         <p class="detail-item0"><strong>번호:</strong> <span th:text="${board.boardNum}"></span></p>
         <p class="detail-item1"><strong>지역:</strong> <span th:text="${board.user.region}"></span></p>
         <p class="detail-item1"><strong>작성자:</strong><span th:if="${board.user !=null}" th:text="${board.user.loginId}"></span></p>
         <p class="detail-item2"><strong>제목:</strong> <span th:text="${board.title}"></span></p>
         <strong>내용:</strong><pre class="detail-item3"><span th:text="${board.boardContent}"></span></pre>
         <div class="board-image detail-item">
			<strong>이미지:</strong>
			<span><img th:src="@{/images/{fileName}(fileName=${board.uploads != null and #lists.size(board.uploads) > 0 ? board.uploads[0].fileName : ''})}" width="250" height="150"></span>
         </div>
         <p class="detail-item4"><strong>생성일자:</strong> <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></span></p>
         <p class="detail-item4"><strong>수정일자:</strong> <span th:text="${#temporals.format(board.modifyDate, 'yyyy-MM-dd HH:mm')}"></span></p>
         <p class="detail-item5"><strong>조회수:</strong> <span th:text="${board.hitCount}"></span></p>
         <p class="detail-item5"><strong>추천수:</strong> <span th:text="${#lists.size(board.recommender)}"></p>
         <div class = "m-2">
            <a href="javascript:void(0);" class="recommend" th:data-uri="@{|/board/recommend/${board.boardNum}|}">
               <img src="\ddabong.jpg" alt="사진없음" width="80" height="80"><span class="badge rounded-pill bg-danger" th:text="${#lists.size(board.recommender)}"></span>
            </a>
		
			<ul id="recommender-list" >
			<br> 추천인 ID : 
			<br>
			 <li th:each="user : ${board.recommender}" th:text="${user.loginId}" class="recommender-list"></li>
			</ul>
         </div>   
	</div>
    <div class="button-container">
	    <form th:action="@{/board/edit/{id}(id=${board.boardNum})}" >
		    <input type="hidden" id="id" name="id" th:value="${board.boardNum}">
		    <button type="submit" class="b-button">수정하기</button>
	    </form>
	
	    <form th:action="@{/board/delete/{id}(id=${board.boardNum})}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
	       <input type="hidden" id="id" name="id" th:value="${board.boardNum}">
	       <button type="submit" class="b-button">삭제하기</button>
	    </form>
	
	    <button onclick="goToBoardList()" class="b-button">목록으로</button>
    </div>

    <form th:action="@{|/comments/create/${board.boardNum}|}" method="post" class="my-3">
          <textarea name="commentsContent" id="commentsContent" rows="3" sec:authorize="isAnonymous()" class="form-control" disabled placeholder="로그인 상태에서 댓글 입력 가능합니다."></textarea>
          <textarea name="commentsContent" id="commentsContent" rows="3" sec:authorize="isAuthenticated()" class="form-control"></textarea>
          <button type="submit" class="b-button">댓글등록</button>
    </form>

    <div th:each="comment : ${board.commentsList}" class="card my-3">
		<div class="card-body">
        	<div class="card-text" style="white-space:pre-line;" th:text="${comment.commentsContent}"></div>
        		<div class="divbox">
        			<div class="badge bg-light text-dark p-2">
        				작성자 : <span th:text="${comment.user.loginId}"></span>
        			</div>
  
                    <div class="badge bg-light text-dark p-2">
                 		작성시간(수정시간) :
                        <span th:if="${comment.modifyDate != null}" th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                        <span th:if="${comment.modifyDate == null}" th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>

                    <button type="button" class="c-button" th:onclick="'showEditForm(' + ${comment.commentNum} + ')'">
                        수정
                    </button>

                    <form th:action="@{|/comments/delete/${comment.commentNum}|}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                        <button type="submit" class="c-button">삭제</button>
                    </form>

               		<div th:id="'edit-comment-form-' + ${comment.commentNum}" style="display:none;">
                    	<form th:action="@{/comments/edit/{commentNum}(commentNum=${comment.commentNum})}" method="post">
	                        <textarea th:id="'edit-content-' + ${comment.commentNum}" name="commentsContent" rows="3" class="form-control" th:text="${comment.commentsContent}"></textarea>
	                        <button type="submit"  class="btn btn-secondary">수정 완료</button>
	                        <button type="button" th:onclick="'hideEditForm(' + ${comment.commentNum} + ')'" class="btn btn-secondary">
	                              취소
	                        </button>
                      	</form>
                    </div>
			</div>
		</div>
	</div>
</body>
</html>