<!DOCTYPE html>
<html layout:decorate="~{layout}">  
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
	<!-- Bootstrap CSS 링크 추가 -->
	  	   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	  	<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
	  	 <!-- 추가 CSS 파일 -->
	  <link rel="stylesheet" href="/boardWrite.css">
	  
 
</head>
<body>
	<div layout:fragment="content" class="container my-3"> 
    <div class="form-container">
        <h2>게시글 수정</h2>
        <form th:action="@{/board/edit/{id}(id=${boardForm.id})}" method="post">
            <input type="hidden" id="id" name="id" th:value="${boardForm.id}">
            <label for="title">제목:</label><br>
            <input type="text" id="title" name="title" th:value="${boardForm.title}" required><br>
            
            <label for="boardContent">내용:</label><br>
            <textarea id="boardContent" name="boardContent" required th:text="${boardForm.boardContent}"></textarea><br>
            
            <button type="submit" class="edit-button">수정 완료</button>
           <button onclick="window.location.href='/board/list'" class="write-button">뒤로 가기</button>
        </form>
    </div>
</body>
</html>
