<!DOCTYPE html>
	<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>글 작성</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
	<link rel="stylesheet" href="/boardWrite.css">
</head>
<body>
	<div layout:fragment="content" class="container my-3">
    <div class="form-container">
        <h2>글 작성</h2>
        <form action="/board/write" method="post" enctype="multipart/form-data">
            <label for="title">제목:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="boardContent">내용:</label><br>
            <textarea id="boardContent" name="boardContent" required></textarea><br>

			<label for="files">첨부 파일:</label><br>
						<input type="file" id="files" name="files" multiple><br> 

            <div class="buttons">
                <button type="submit">작성 완료</button>
				<button onclick="window.location.href='/board/list'" class="write-button">뒤로 가기</button>
               
            </div>
        </form>
    </div>
</body>
</html>