<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
   <link rel="stylesheet" href="/boardList.css">
</head>

<body>
   <div layout:fragment="content" class="container my-3"> 
      <br>
       <h2>제보게시판</h2>
      <br>
      <table class="table table-hover ">
         <thead class="thead-dark ">
              <tr class="table-group-divider ">
                  <th scope="col">번호</th>
               <th scope="col">지역</th>
                  <th scope="col">제목</th>
                  <th scope="col">이미지</th>
                  <th scope="col">생성일자</th>
                  <th scope="col">수정일자</th>
                  <th scope="col">작성자</th>
                  <th scope="col">조회수</th>
               <th scope="col">추천수</th>
             </tr>
          </thead>
           <tbody>
            <tr th:each="board, loop : ${paging}" th:onclick="'/board/read/' + ${board.boardNum}">
               <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
               <td><span th:text="${board.user.region}"></span></td>
               <td>
                  <a th:href="@{/board/read/{id}(id=${board.boardNum})}" th:text="${board.title} ?: ''" style="text-decoration: none; color: inherit;"></a>
                  <span class="badge bg-primary text-white" th:if="${#lists.size(board.commentsList) > 0}" th:text=${#lists.size(board.commentsList)}></span>   
               </td>
               <td>
                  <span th:if="${board.uploads != null and board.uploads.size() > 0}">
                     <img th:src="'/images/' + ${board.uploads[0].fileName}" />
                  </span>
                  <div th:unless="${board.uploads != null and board.uploads.size() > 0}" alt="No image">
                     <p>첨부 파일 없음</p>
                  </div>
               </td>
              
                <td th:text="${board.createDate != null ? #temporals.format(board.createDate, 'yyyy-MM-dd HH:mm') : ''}"></td>
               <td>
                  <span th:if="${board.modifyDate != null}" th:text="${#temporals.format(board.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                   <span th:unless="${board.modifyDate != null}">-</span>
               </td>
               <td>
                   <a th:if="${board.user != null}" 
                      th:href="@{'/board/writer/' + ${board.user.loginId}}" 
                      th:text="${board.user.loginId}" style="text-decoration: none; color: inherit;"></a>
               </td>
               <td th:text="${board.hitCount != null ? board.hitCount : 0}"></td>
               <td th:text="${#lists.size(board.recommender)!=null ? #lists.size(board.recommender) : 0}" ></td>
            </tr >
         </tbody>   
       </table>
      <div th:if="${!paging.isEmpty()}">
          <ul class="pagination justify-content-center">
              <li class="page-item" th:if="${paging.number > 5}">
                  <a class="page-link" th:href="@{|?page=0|}">
                      <span>처음</span>
                  </a>
              </li>
              <li class="page-item" th:if="${paging.hasPrevious}" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                  <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                      <span>이전</span>
                  </a>
              </li>
              <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                  th:if="${page >= paging.number-5 and page <= paging.number+5}"
                  th:classappend="${page == paging.number} ? 'active'" 
                  class="page-item">
                  <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
              </li>
              <li class="page-item" th:if="${paging.hasNext}" th:classappend="${!paging.hasNext} ? 'disabled'">
                  <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                      <span>다음</span>
                  </a>
              </li>
              <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
                  <a class="page-link" th:href="@{|?page=${paging.totalPages-1}|}">
                      <span>끝</span>
                  </a>
              </li>
          </ul>
      </div>
      
       <a href="/board/write" class="write-button">글 작성하기</a>
   </div>
</body>
</html>
