<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>회원 탈퇴</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
	<link rel="stylesheet" href="/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function pwCheck() {
                if ($('#pw1').val() == $('#pw2').val()) {
                    $('#pwConfirm').text('비밀번호가 일치합니다.').css('color', 'green');
                    $('#pw2').css('border-color', 'green'); 
                    return true;
                } else {
                    $('#pwConfirm').text('비밀번호를 확인해주세요').css('color', 'red');
                    $('#pw2').css('border-color', 'red'); 
                    return false;
                }
            }

            $('#deleteForm').on('submit', function(e) {
                if (!pwCheck()) {
                    e.preventDefault(); 
                    alert('비밀번호를 확인해주세요.');
                } else {
                    confirmDelete(); 
                }
            });

            function confirmDelete() {
                const confirmation = confirm("정말 탈퇴하시겠습니까?");
                if (confirmation) {
                    var deleteForm = document.getElementById('deleteForm');
                    deleteForm.submit();
                    showSuccessAlertAndRedirect();
                } else {
                    return false;
                }
            }

			function showSuccessAlertAndRedirect() {
			    alert('회원 탈퇴가 완료되었습니다.');
			    window.location.href = "/main"; 
			}
			
            $('#pw1, #pw2').on('input', pwCheck);
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원 탈퇴</h4>
        </div>
    </div>
    <form id="deleteForm" action="/user/delete" method="post">
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" id="pw1" name="password1" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" id="pw2" name="password2" class="form-control">
            <div id="pwConfirm" style="margin-top: 0; padding-top: 0;"></div>
			<br>
			<button id="deleteBtn" class="btn">탈퇴하기</button>
        </div>

        
    </form>
</div>

</body>
</html>
