<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="/boardList.css">
</head>
<body>
    <h2>게시판 목록</h2>
    <table class="board-table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
				<th>이미지</th>
                <!--<th>내용</th>-->
                <th>생성일자</th>
                <th>수정일자</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
			<tdtr th:each="board, loop : ${paging}" th:onclick="'/board/read/' + ${board.Board_Num}">
			    <!-- <td th:text="${board.Board_Num} ?: ''"></td> -->
				<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
			    <td>
					<a th:href="@{/board/read/{id}(id=${board.Board_Num})}" th:text="${board.Title} ?: ''"></a>				
					<!-- 해당 글의 댓글수 표현 나중에 css처리 하기-->
					<span class="badge bg-primary text-white" th:if="${#lists.size(board.CommentsList) > 0}" th:text=${#lists.size(board.CommentsList)}></span>	
				</td>
				<td><img th:src="${board.Filepath}"></td>
				<!--<td th:text="${board.Board_Content} ?: ''"></td>-->
			    <td th:text="${board.Create_Date != null ? #temporals.format(board.Create_Date, 'yyyy-MM-dd HH:mm') : ''}"></td>
				<td>
					<span th:if="${board.Modify_Date != null}" th:text="${#temporals.format(board.Modify_Date, 'yyyy-MM-dd HH:mm')}"></span>
				    <span th:unless="${board.Modify_Date != null}">-</span>
				</td>
				<td th:text="${board.Hit_Count != null ? board.Hit_Count : 0}"></td>
				
			</tr>
        </tbody>
    </table>
	<!-- 페이지 이동 버튼 -->
	<div th:if="${!paging.isEmpty()}">
	    <ul class="pagination justify-content-center">
	        <!-- 처음 페이지 버튼 -->
	        <li class="page-item" th:if="${paging.number > 5}">
	            <a class="page-link" th:href="@{|?page=0|}">
	                <span>처음</span>
	            </a>
	        </li>
	        <!-- 이전 페이지 버튼 -->
	        <li class="page-item" th:if="${paging.hasPrevious}" th:classappend="${!paging.hasPrevious} ? 'disabled'">
	            <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
	                <span>이전</span>
	            </a>
	        </li>
	        <!-- 페이지 번호 버튼 -->
	        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
	            th:if="${page >= paging.number-5 and page <= paging.number+5}"
	            th:classappend="${page == paging.number} ? 'active'" 
	            class="page-item">
	            <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
	        </li>
	        <!-- 다음 페이지 버튼 -->
	        <li class="page-item" th:if="${paging.hasNext}" th:classappend="${!paging.hasNext} ? 'disabled'">
	            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
	                <span>다음</span>
	            </a>
	        </li>
	        <!-- 마지막 페이지 버튼 -->
	        <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
	            <a class="page-link" th:href="@{|?page=${paging.totalPages-1}|}">
	                <span>끝</span>
	            </a>
	        </li>
	    </ul>
	</div>
    <!-- 글 작성하기 버튼 -->
    <a href="/board/write" class="write-button">글 작성하기</a>
</body>
</html>
