<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>게시글 조회</title>
	<link rel="stylesheet" href="/style.css">
	<script>
		function showEditForm(commentNum) {
			document.getElementById('edit-comment-form-' + commentNum).style.display = "block";
		}

		function hideEditForm(commentNum) {
			document.getElementById('edit-comment-form-' + commentNum).style.display = "none";
		}
	</script>
</head>

<body>
	<h2>게시글 조회</h2>
	<div class="board-details">
		<!-- 게시글 내용 -->
		<p class="detail-item"><strong>번호:</strong> <span th:text="${board.Board_Num}"></span></p>
		<p class="detail-item"><strong>제목:</strong> <span th:text="${board.Title}"></span></p>
		<p class="detail-item"><strong>내용:</strong> <span th:text="${board.Board_Content}"></span></p>
		<p class="detail-item"><strong>생성일자:</strong> <span
				th:text="${#temporals.format(board.Create_Date, 'yyyy-MM-dd HH:mm')}"></span></p>
		<p class="detail-item"><strong>수정일자:</strong> <span
				th:text="${#temporals.format(board.Modify_Date, 'yyyy-MM-dd HH:mm')}"></span></p>
		<p class="detail-item"><strong>조회수:</strong> <span th:text="${board.Hit_Count}"></span></p>
		
		<a href="javascript:history.back()">목록으로</a>
		<!-- a태그 말고 버튼 형식으로 바꿔놓기-->

		<!-- 댓글 작성 폼 -->
		<form th:action="@{|/comments/create/${board.Board_Num}|}" method="post" class="my-3">
			<textarea name="content" id="content" rows="3" class="form-control"></textarea>
			<input type="submit" value="댓글 등록" class="btn btn-primary my-2">
		</form>

		<!-- 댓글 목록 -->
		<div th:each="comment : ${board.CommentsList}" class="card my-3">
			<div class="card-body">
				<div class="card-text" style="white-space:pre-line;" th:text="${comment.Comments_Content}"></div>
				<div class="d-flex justify-content-between align-items-center">
					<!-- 작성 날짜 표시 -->
					<div class="badge bg-light text-dark p-2">
						<div th:text="${#temporals.format(comment.Create_Date, 'yyyy-MM-dd HH:mm')}"></div>
					</div>

					<!-- 수정 버튼 -->
					<button type="button" class="btn btn-primary ml-2"
						th:onclick="'showEditForm(' + ${comment.Comment_Num} + ')'">
						수정
					</button>

					<!-- 삭제 버튼 -->
					<form th:action="@{|/comments/delete/${comment.Comment_Num}|}" method="post"
						onsubmit="return confirm('정말로 삭제하시겠습니까?');">
						<input type="hidden" id="commentId" name="commentId" th:value="${comment.Comment_Num}">
						<button type="submit" class="btn btn-danger">삭제</button>
					</form>
					
					<!-- 수정 폼 -->
					<div th:id="'edit-comment-form-' + ${comment.Comment_Num}" style="display:none;">
						<form th:action="@{|/comments/edit/${comment.Comment_Num}|}" method="post">
							<textarea th:id="'edit-content-' + ${comment.Comment_Num}" name="content" rows="3"
								class="form-control" th:text="${comment.Comments_Content}"></textarea>
							<input type="submit" value="수정 완료" class="btn btn-primary my-2">
							<button type="button" th:onclick="'hideEditForm(' + ${comment.Comment_Num} + ')'"
								class="btn btn-secondary">
								취소
							</button>
						</form>

					</div>
				</div>
			</div>
		</div>
		

	</div>
</body>

</html>