<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <!-- 외부 CSS 파일 연결 -->
    <link rel="stylesheet" href="/boardList.css">
</head>
<body>
    <h2>Board List</h2>
    <table class="board-table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>생성일자</th>
                <th>수정일자</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>

            </tr>
        </tbody>
    </table>

    <!-- 글 작성 버튼 -->
    <a href="/board/write" class="write-button">글 작성하기</a>
</body>
</html>
