<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" th:href="@{/layoutst.css}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>수질 모니터링</title>
</head>

<body>
	<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">수질 모니터링</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			               <span class="navbar-toggler-icon"></span>
			           </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/board/list}">제보게시판</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
						<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/user/signup}">회원가입</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	<!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
		<!-- 자바스크립트 End -->
</body>

</html>